# =========================
# DATABASE
# =========================

DB_USER=
DB_PASSWORD=
DB_NAME=

# =========================
# REDIS
# =========================
REDIS_PASSWORD=

# =========================
# JWT
# =========================

JWT_SECRET=
JWT_ACCESS_TTL=300s
JWT_FLOW_TTL=300s
JWT_REAUTH_TTL=300s

# =========================
# OTP
# =========================

OTP_TTL=300s

# =========================
# GOOGLE OAUTH
# =========================

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# =========================
# GITHUB OAUTH
# =========================

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# =========================
# MAIL
# =========================

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# =========================
# TURNSTILE
# =========================

TURNSTILE_SECRET_KEY=
TURNSTILE_EXPECTED_HOST=example.com